<?xml version="1.0"?>
<!-- Example of launch rviz with a custom rviz config to have selected topics preloaded -->
<launch>
  <arg name="rviz_config" default="$(find wamv_gazebo)/config/rviz_vrx.rviz" />
  <node pkg="rviz" type="rviz" name="wamv_visualization" args="-d $(arg rviz_config)" />


  <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom" args="745 560 0 0 0 0 /map /wamv/odom 10" />  -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom" args="742 -28 0 0 0 0 /map /wamv/odom 10" /> 

  <!-- <arg name="map" default="robotx_example_course.yaml" /> -->
  <!-- Map server -->
  <arg name="map" default="robotx_example2.yaml" />
    <!-- 运行地图服务器，并且加载设置的地图-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find gmapping_slam)/map/$(arg map)"/>

  <include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
  </include>

    
</launch>